.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container label {
    font-weight: bold;
}

.form-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-container button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}