$base-color: blue;
$important-color: darkblue;
$warning-color: rgb(89, 255, 247);
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$shadow: 0px 0px 10px 10px;
