@use "variables.scss" as variables;
@use "header.scss" as header;
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: variables.$background-color;
  color: variables.$white;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  font-family: 'Jost', sans-serif;
}

main {
  height: calc(100vh - variables.$header-height);
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.first,
.second {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.top {
  display: flex;
  flex-wrap: column;
  flex-direction: column-reverse;
  justify-content: start;
  box-sizing: border-box;
}

.top-item {
  @extend .item-container;
  min-width: 225px;
  cursor: pointer;
}

.item {
  @extend .item-container;
  min-width: 250px;
}

#top-text {
  font-weight: bold;
  font-size: 1.2rem;

  &::after {
    content: "3";
  }
}

@each $i in variables.$top-hidden-items {
  .top-item [src$="#{$i}.jpg"] {
    display: none;
  }
}

@media screen and (width >= 400px) and (width < 1280px) {
  section.top {
    display: flex;
    flex-wrap: column;
    flex-direction: row-reverse;
    justify-content: start;
  }

  #top-text::after {
    content: "3";
  }
}

@media screen and (width >= 1280px) {
  section.top {
    display: flex;
    flex-wrap: column;
    flex-direction: row-reverse;
    justify-content: start;
  }
  #top-text::after {
    content: "5";
  }

  @each $i in variables.$top-hidden-items {
    .top-item [src$="#{$i}.jpg"] {
      display: block;
    }
  }
}
