@use "variables.scss" as *;

body {
  background-color: $background-color;
  color: $white;
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid red;
  height: 150px;
  box-sizing: border-box;

  .header-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    flex: 1;
    .platform-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .header-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    flex: 1;

    div {
      padding: 10px;
      border-radius: 10px;
    }

    div:hover {
      background-color: $white;
      color: $background-color;
      cursor: pointer;
    }
  }
}

main {
  border: 2px solid green;
  height: calc(100vh - 150px);
  box-sizing: border-box;
  overflow: auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.top{
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: start;
}

.top-item {
  @extend .item-container;
  min-width: 225px;
}

.item {
  @extend .item-container;
  min-width: 250px;
}

#top-text {
  font-weight: bold;
  font-size: 1.2rem;

  &::after {
    content: $top-text-desktop-content;
  }
}
