$background-color: #141414;
$white: white;
$top-text-desktop-content: "5";
$top-hidden-items: 4, 5;
$header-height: 20%;

.item-container{
  flex-wrap: wrap;
  flex: 1;
  box-sizing: border-box;
  img {
    transition: transform 150ms ease-in-out;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }
}

.item-container:hover {
  img {
    transform: scale(1.1);
    cursor: pointer;
  }
}