$background-color: #141414;
$white: white;
$header-height: 20%;
$top-text-desktop-content: "5";
$top-text-mobile-content: "3";
$top-hidden-items: 4, 5;

@mixin item-container($padding, $min-width) {
  flex-wrap: wrap;
  flex: 1;
  box-sizing: border-box;
  padding: $padding;
  min-width: $min-width;

  img {
    transition: transform 150ms ease-in-out;
    width: 100%;
    margin: 0 auto;
    display: flex;
  }

  &:hover {
    img {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}