@use 'desktop-layout.scss';
@use 'mobile-layout.scss';

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.page-title {
  background-color: rgb(177, 209, 60);
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 20px;
  height: 60px;
  box-sizing: border-box;
}

.card {
  background-color: white;
  border-radius: 5px;
}

.menu-container {
  background-color: rgb(85, 85, 0);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .menu-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
  }
}

img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
