$base-color1: red;
$base-color2: blue;
$base-color3: green;

@mixin darken($color, $amount) {
  background-color: darken($color: $color, $amount: $amount);
}

@mixin lighten($color, $amount) {
  background-color: lighten($color: $color, $amount: $amount);
}

@mixin display-theme($color) {
  .darken-4 {
    @include darken($color, 20);
  }

  .darken-3 {
    @include darken($color, 15);
  }

  .darken-2 {
    @include darken($color, 10);
  }

  .darken-1 {
    @include darken($color, 5);
  }

  .lighten-1 {
    @include lighten($color, 5);
  }

  .lighten-2 {
    @include lighten($color, 15);
  }

  .lighten-3 {
    @include lighten($color, 25);
  }

  .lighten-4 {
    @include lighten($color, 35);
  }

  .base-color {
    background-color: $color;
  }
}
