@use 'theme-a.scss' as *;
// @use 'theme-b.scss' as *;

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;

  .box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 50px 10px;
    border: 1px solid gray;
  }

  .base{
    background-color: $base-color;
  }

  .important{
    background-color: $important-color;
  }

  .warning{
    background-color: $warning-color;
  }

  .primary-font{
    font-family: $primary-font;
  }

  .secondary-font{
    font-family: $secondary-font;
  }

  .shadow{
    box-shadow: $shadow;
  }

  .fonts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
