$base-color: red;
$important-color: brown;
$warning-color: pink;
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$shadow: -10px 10px 10px rgba(0, 0, 0, 0.4);
