$base-color: blue;
$important-color: darkblue;
$warning-color: rgb(89, 255, 247);
$primary-font: Tahoma, Geneva, sans-serif;
$secondary-font: Trebuchet MS, Helvetica, sans-serif;
$shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
